body {

  background-image: url("wallpaper.jpg");
  text-align: center;
  color: white;

}

input {

  border-radius: 30px;
  background: transparent;
  border: none;

}

div {

  

}